.campContainer {
  color: white;
  position: relative;
  height: 100%;
}

.topContainer {
  height: 65vh;
  padding-top: var(--menu-height);
  position: relative;
}

.iconsContainer {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 25px;
}

.title {
  font-weight: normal;
  text-transform: capitalize;
  margin-top: 20px;
}

.metadata {
  h6 {
    text-transform: uppercase;
    color: var(--red-cs);
    font-weight: normal;
    margin-bottom: 5px;
    letter-spacing: 1px;
  }
  padding-bottom: 15px;
}

.descriptionContainer {
  max-height: 300px;
  overflow-y: scroll;
}

.description {
  font-size: 1.25rem;
}
