$icons-width: 56px;

.name {
  text-transform: capitalize;
  a,
  a:hover {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid white;
  }
  margin-bottom: 20px;
  margin-top: 15px;
}

.metadata {
  h6 {
    text-transform: uppercase;
    color: var(--red-cs);
    font-weight: normal;
    margin-bottom: 5px;
    letter-spacing: 1px;
  }
  padding-bottom: 15px;
}

.iconContainer {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  transform: translateX(-$icons-width/2);
}

.iconImage {
  flex-grow: 0;
  flex-shrink: 0;
}

.image {
  border-radius: 999px;
  height: $icons-width;
  width: $icons-width;
  object-fit: cover;
  transition: border-radius var(--transition);
}

.image:hover {
  border-radius: 0px;
}

.iconTitle {
  margin-left: 10px;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .desc {
    font-size: 0.875rem;
    font-family: "Inter", sans-serif;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.inceptionLine {
  position: absolute;
  top: 0;
  bottom: 0;
  border-right: 1px dashed rgba(255, 255, 255, 0.5);
}
